<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <title>Login Page</title>

    <!-- Bootstrap core CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
      integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
      crossorigin="anonymous"
    />
    <link href="../resources/css/signIn.css" rel="stylesheet">
	  <!-- <link href="../resources/css/my_style.css" rel="stylesheet">  -->
  </head>
  <body class="center text-center" style="background-color: #93b1a7;">
    </br>
    <div class="container">
      <form class="form-signin" action="/login" method="POST">
        <div class="text-center">
          <img class="rounded float-center" src= "../resources/img/stonkpeg.png" alt="Stonkview logo" width="300px" height="auto">
        </div>
        </br>
        <h1 class="h3 mb-3 font-weight-normal">Login</h1>
        <% if (errors) { %>
          <% console.log(errors) %>
          <h4><%- errors %></h4>
        <% } %>
        <label for="email" class="sr-only">Email address</label>
        <input
          type="email"
          id="inputEmail"
          class="form-control"
          name="email"
          placeholder="Email address"
          required
          autofocus
        />
        <label for="password" class="sr-only">Password</label>
        <input
          type="password"
          id="inputPassword"
          class="form-control"
          name="password"
          placeholder="Password"
          required
        />
        <button class="btn btn-lg" type="submit">Sign in</button>
        <a class="btn btn-lg" href="/register">Register</a>
      </form>
    </div>
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
      integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
      integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
      crossorigin="anonymous"
    ></script>
  </body>
</html>