<footer class="footer footer-dark row">
    <div class="col-2 py-0" id="footerWatermark">
        <img src="../../resources/img/stonkpeg.png" class="w-100" style="opacity: 0.7;" alt="StonkView">
    </div>
    <div class="col-10 content py-2" id="footerParksLinks">
        <div class="d-flex flex-row justify-content-between py-0 mr-5">
            <div class="ontent" id="footerGeneralLinks">
                <a href="/" style="color: inherit;"><p class="font-weight-bold my-0">Home</p></a>
                <a href="/news" style="color: inherit;"><p class="my-0">News</p></a>
                <a href="/network" style="color: inherit;"><p class="my-0">Network</p></a>
                <a href="/charts" style="color: inherit;"><p class="my-0">Charts</p></a>
                <a href="/messaging" style="color: inherit;"><p class="my-0">Messaging</p></a>
                <a href="/notifications" style="color: inherit;"><p class="my-0">Notifications</p></a>
                <a href="/account/<%=currUser._id %>" style="color: inherit;"><p class="my-0">Account</p></a>
            </div>
        </div>
    </div>
</footer>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

</body>
</html>